<#import "master.html" as layout />

<@layout.master title="${master.title}" menuItems=master.menuItems>
 <br>  
  <div class="jumbotron">
    <h1>Modules</h1>
    <p>
      <#list modules as module>
        <div class="alert alert-success" role="default">${module.name}
          <div class="btn-group" role="group">
            <#if module.status == true>
              <a href="/" class="btn btn-success disabled">Activate</a>  
              <a href="/module/off/${module.guid}" class="btn btn-danger">Deactivate</a>  
            </#if>
            <#if module.status == false>
              <a href="/module/on/${module.guid}" class="btn btn-success">Activate</a>  
              <a href="/" class="btn btn-danger disabled">Deactivate</a>  
            </#if>
          </div>
        </div>
      </#list>
    </p>
</div>
</@layout.master>